!!! 5
%html 
    %head
        %meta{ :charset => "utf-8" } 
        %link{ :rel => "stylesheet", :href => "css/master.css" }  
        %link{ :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"}
        %title AoE Team and Civ Generator 
    %body                    

        %section{ :class => 'fullwidth_container' }
            
            %aside{ :class => 'setup' }
                %h2 Add Players

                %div{ :class => 'form-group' }
                    %input{ :type => 'text', :value => 'Nathan', :class => 'form-control' }
                    -# %i{ :class => 'form-control-action' }
                
                %div{ :class => 'form-group' }
                    %input{ :type => 'text', :placeholder => 'Player Name', :class => 'form-control' }
                    %i{ :class => 'form-control-action' }

                %button{ :type => 'button', :class => 'btn-primary' } Generate

            %article{ :class => 'content' }

                %header{ :class => 'hero' }
                    %h1{ :class => 'hero_heading'} AoE Generator

                    %p{ :class => 'hero_descr'} An custom Age of Empires Team and Civilization Generator.

                %section{ :class => 'teams' }

    %script{ :src => "js/aoe.min.js" } 
    %script{ :src => "//localhost:35729/livereload.js" } 
