@import "compass"
@import "../../bower_components/jeet/scss/jeet/index"
@import "../../bower_components/normalize.scss/normalize"

// +edit()

* 
	+box-sizing(border-box)

	&:before,
	&:after 
		+box-sizing(border-box)

html
	height: 100%

body 
	height: 100%
	font-family: 'Open Sans', sans-serif
	background: #F8F8F8

.container 
	+center(960px)

.fullwidth_container 
	+center(100%)
	height: 100%

.setup
	+span(1/3)
	position: relative
	
	color: #fff
	height: 100%
	max-height: 100%
	background: #3A3A3A
	overflow-y: auto

.edit-players
	padding: 0 20px
	margin-top 30px
	padding-bottom: 168px

.p-bottom 
	background: #222
	+span(1/3)
	position: fixed
	bottom: 0
	// width: 100%
	padding: 30px 20px

.content 
	+span(2/3)

	min-height: 100%

.hero 
	background: #FDD51C
	color: #fff
	padding: 30px 30px 20px
	text-align: center

.hero_heading
	margin: 0

.hero_descr 
	margin: 0

.teams
	+cf()

	margin-top: 30px
	padding-right: 30px
	padding-left: 30px

.team 
	+col(1/4 2/3, $cycle: 4)
	margin-bottom: 30px

	&:nth-child(5n+1) 
		background: #40BBE8

	&:nth-child(5n+2) 
		background: #3DE294

	&:nth-child(5n+3) 
		background: #FDD51C

	&:nth-child(5n+4) 
		background: #F9684D

	&:nth-child(5n+5) 
		background: #333


.team_name 
	color: #FFF
	margin: 0
	padding-left: 20px
	font-weight: 200
	padding: 30px 20px 20px
	text-align: center

.player 
	+cf()
	padding: 10px 20px

	&:nth-child(even)   
		background: rgba(255, 255, 255, 0.3)

.player_name 
	color: #FFF
	font-size: 1.2em
	text-transform: capitalize
	font-weight: 700
	// padding-bottom: 5px

.civ_name
	color: #FFF
	// margin-bottom: 20px
	font-size: 0.8em



// Forms

.form-group
	position: relative
	margin-bottom: 20px

	.form-control
		background: #5A5A5A
		border: none
		padding: 10px 15px
		width: 100%
		color: #FFF

		&.form-control_light
			background: #EBEBEB
			color: #5A5A5A

	.form-control_action 
		position: absolute
		top: 9px
		right: 10px
		font-size: 25px
		cursor: pointer

.form-group-slim
	@extend .form-group

	margin: 0
	border-top: 2px solid #aaa

	&:nth-child(1)
		border-top: none

// Buttons

.btn
	width: 100%
	background: none
	border: 1px solid #FFF
	border-radius: 6px
	padding: 10px 15px
	color: #fff
	font-weight: 600
	font-size: 1em

	&:hover
		background: #fff
		color: #474747

.btn-primary
	@extend .btn

// Tabs
.tabs
	+cf()

	margin: 30px 20px

	.tab
		float: left
		width: 50%
		text-align: center 
		border-bottom: 5px solid #aaa
		padding: 10px 0
		font-weight: bold
		color: #aaa

		&:hover,
		&.active 
			color: #fff
			cursor: pointer

		&.active 
			border-color: #FDD51C
			
